%section.content-header
 %h1.text-center #{course.title} homework


= link_to  new_user_course_lesson_path(course) do
 %button.btn.btn-primary
  Create lesson
= link_to  user_lessons_sorting_path(course), remote: true do
 %button.btn.btn-primary.pull-right
  Change lesson position

- unless course.lessons.count <1
 %table.table.table-striped.table-hover#homework-list
  %thead
   %tr
    %th
    %th
    %th Title
    %th
  %tbody.rowlink{ data: { link: 'row' } }
   = render partial: 'user/courses/lesson', collection: course.lessons
