.alert.alert-danger.fade.in{:style => "position: fixed;  top: 100px; left: 300px;  right: 100px; z-index: 100;"}
 %button.close{"data-dismiss" => "alert", type: "button"} ×
 %h3.text-center
  You cannot answer for this lesson twice!
